@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* min-width: max-content; */
    background: #f2f2f2;
}

.import-input {
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border: 1px solid rgb(124, 46, 0);
    width: 750px;
    background: rgb(221, 255, 229);
    border-radius: 10px;
}

.import-input h6 {
    text-align: center;
    font-size: 18px;
    margin: 5px 0 5px 0;
}

.template {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.template p {
    font-size: 15px;
    margin-bottom: 5px;
}

.template a {
    margin-top: 10px;
    text-decoration: none;
    background: green;
    color: white;
    border-radius: 5px;
}

.belum_validasi td {
    background: #ffe2e2;
}

.peringatan {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #a50404;
}

.peringatan p {
    font-size: 20px;
    margin-bottom: 0;
}

.error {
    background-color: rgb(255, 244, 227);
    text-align: center;
}

.error p {
    font-size: 18px;
    margin: 0;
}

.errors {
    font-size: 15px;
    color: red;
    margin: 0;
}

.judul_beranda {
    margin: 20px auto;
    width: 100%;
}

.judul_beranda p {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    border-bottom: 8px solid black;
    margin: auto;
    height: 80px;
    max-width: 1000px;
}

.gambar_beranda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    min-height: 620px;
    width: 1050px;
}

.gambar_beranda img {
    border: 20px solid rgb(236, 236, 236);
    border-radius: 10px;
}

.gambar_beranda .caption {
    padding: 10px;
    background: rgb(150, 90, 13);
    color: rgb(255, 255, 255);
}

.gambar_carousel {
    min-height: 600px;
    max-width: 1000px;
}

.validate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.validate input {
    transform: scale(2);
    width: 50px;
}

.validate p {
    font-weight: 600;
    color: green;
    margin: 0;
    font-size: 15px;
}

.pilih_semua {
    background-color: rgb(212, 122, 5);
    text-align: center;
    margin: 10px 0px 0px 10px;
    width: 150px;
    height: 40px;
    padding: 8px 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pilih_semua label {
    color: white;
    margin: 0;
    cursor: pointer;
}

#valid {
    margin-left: 10px;
    transform: scale(2);
    cursor: pointer;
}

.aktif a {
    border-bottom: 4px solid rgb(255, 255, 81);
    border-radius: 13px;
    font-weight: 600;
    color: rgb(255, 255, 81);
}

.nonaktif a {
    font-weight: 600;
}

nav {
    background: #00587a;
    max-height: 70px;
}
nav:after {
    content: "";
    clear: both;
    display: table;
}
nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li {
    float: left;
    display: inline-block;
    background: #00587a;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover {
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 5px #fafdfd, 0 0 10px #ffffff;
    text-decoration: none;
}

.show,
.icon {
    display: none;
}
.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    .show + a,
    ul {
        display: none;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul ul li {
        position: static;
    }
    [id^="btn"]:checked + ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: "\f00d";
    }
}

.content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
}

p {
    font-size: 30px;
    font-weight: 500;
}

.logout {
    background: rgb(153, 0, 0);
    border-radius: 30px;
    font-weight: bold;
}

.footer {
    margin-top: 15px;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    bottom: 0;
    background-color: #00587a;
}

.footer h5 {
    font-family: "Poppins";
    font-weight: 100;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 1px 0px 1px 0px;
}

.kategori {
    margin-left: 10px;
    margin-top: 10px;
}

.tombol-kembali {
    margin-left: -2px;
    position: absolute;
    top: 145px;
}

.tombol-kembali button {
    background: #ceefff;
    color: rgb(0, 0, 0);
    padding-left: 0;
    border: 2px solid black;
    border-radius: 5px;
    width: 125px;
}

.tombol-kembali span {
    margin-left: 5px;
}

.menu {
    margin-left: 5px;
    display: flex;
}

.tombol-menu {
    padding: 2px 10px;
    width: max-content;
    height: 35px;
    background-color: #ffea83;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 1px 2px #ddb800;
    cursor: pointer;
}

/* CSS TABLE */

.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.8em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* margin-right: 70px; */
}

.taruh-kiri {
    text-align: left;
}

.content-table thead tr {
    border-right: 1px solid #222a31cc;
    border-left: 1px solid #222a31cc;
    background-color: #222a31cc;
    color: #ffffff;
    text-align: center;
    /* font-weight: bold; */
}

.content-table th {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.content-table td {
    border-right: 1px solid #222a31cc;
    border-left: 1px solid #222a31cc;
    padding: 5px 8px 5px 8px;
    text-align: center;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.kanan td {
    padding: 5px 15px 5px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    /* background-color: #f3f3f3; */
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #222a31cc;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #222a31cc;
}

.total td {
    background-color: #7c7c7c2d;
    font-weight: bold;
    border-top: 2px solid #222a31cc;
}

.validasi {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.judul {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

.ketjudul {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.dalam-konten {
    min-height: 78vh;
    margin: 0;
}

.isi-konten {
    border: 2px solid rgb(0, 62, 112);
    margin: 15px;
    margin-top: 15px;
    border-radius: 5px;
    min-height: 70vh;
}

/* FORM INPUT */

.wrapper {
    margin: 15px auto;
    min-width: fit-content;
    max-width: 750px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border: 1px solid;
    /* box-shadow: 5px 10px #888888; */
    background-color: #d6f3ff;
    border-radius: 10px;
}

.inputfield,
.inputfield-date,
.inputfield-select,
.inputfield-kecil,
.inputfield-radio {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.inputfield label {
    width: 200px;
    color: #000000;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
}

.inputfield-radio label {
    width: 100px;
    color: #000000;
    margin-right: 40px;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.inputfield-radio .label-atas {
    width: 150px;
    color: #000000;
    margin-right: 30px;
    font-size: 14px;
    margin-left: 0;
    font-weight: 600;
}

.inputfield-select label,
.inputfield-kecil label,
.inputfield-date label {
    width: 148px;
    color: #000000;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
}

.inputfield .input,
.inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #000000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.inputfield-radio .input {
    /* width: 100px; */
    outline: none;
    /* border: 1px solid #000000; */
    font-size: 15px;
    padding: 8px 10px;
}

/* KECIL */
.inputfield-kecil .input {
    width: 100px;
    outline: none;
    border: 1px solid #000000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
}

.inputfield-kecil p {
    font-size: 15px;
    margin: auto 15px;
}

.inputfield-kecil a {
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
    background-color: rgb(149, 255, 181);
    color: black;
}

/* DATE */
.inputfield-date .input {
    width: 250px;
    outline: none;
    border: 1px solid #000000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
}

/* LIST */
.inputfield-list {
    margin-bottom: 10px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.inputfield-list .input {
    width: 80px;
    outline: none;
    border: 1px solid #000000;
    font-size: 15px;
    padding: 4px 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.inputfield-list label {
    /* text-align: right ; */
    width: 120px;
    color: #000000;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
}

.mini {
    width: 55px;
    margin: 10px 12px 0 12px;
}

.mini input {
    height: 35px;
    margin-bottom: 5px;
}

.mini p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

.custom_select {
    position: relative;
    width: 250px;
    height: 38px;
}

.custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #000000 transparent transparent transparent;
    pointer-events: none;
}

.custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.input:focus,
.textarea:focus,
.custom_select select:focus {
    border: 1px solid #ff9a17;
}

.tombol {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding: 10px;
}

.inputan {
    width: 150px;
    padding: 5px 5px;
    font-size: 18px;
    border: 0px;
    background: #0c8f00;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
    box-shadow: 2px 4px #1d5c00;
}

.reset {
    margin-right: 30px;
    width: 150px;
    padding: 6px 6px;
    font-size: 18px;
    border: 0px;
    background: #a50404;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
    box-shadow: 2px 4px #5c0000;
}

.import {
    margin-right: 30px;
    width: 185px;
    padding: 6px 6px;
    font-size: 18px;
    border: 0px;
    background: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: 1px solid;
    box-shadow: 2px 4px rgb(0, 0, 105);
}

.edit {
    color: white;
    border: none;
    font-size: 15px;
    background-color: rgb(0, 138, 103);
    padding: 6px;
    cursor: pointer;
    width: 70px;
    font-weight: bold;
    margin-right: 8px;
}

.hapus {
    text-decoration: none;
    color: white;
    border: none;
    font-size: 15px;
    background-color: rgb(138, 21, 0);
    padding: 6px;
    cursor: pointer;
    width: 70px;
    font-weight: bold;
}

.hapus:hover,
.edit:hover {
    color: rgb(207, 255, 31);
}

@media (max-width: 420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}

#edit-modal {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

#modal-edit {
    margin: auto;
    width: 1000px;
    max-width: 800px;
}
